# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties
/*my GitHub enterprise name, (World human Issue cause Association."
<name>,= "World human Issue cause Association."
{


    }
      All company power of Board is in the hand of my enterprise,
<int- enterprise>,"World human Issue cause Association.",
<company>= "GitHub"
<role>="Trustie"
<trustiee -"World human Issue cause Association "
<enterprise member> = "partners"
<name of partner>=Rohan Shrestha 
<name of partner>=Suraj Silwal 
<name of partner>Bidur Pokhrel 
<role>="director of the board 
/*language=NPL,
              (Along with GitHub we (member of Board) maintain from self all the rules and regulations of the enterprise, " World human Issue cause Association",(WrhIcA),till the company stay in existence.html,
this Company stay in GitHub and we ( Board of member) remain a Trustee of this enterprise (humanity for human and we fullfil.), the rule of conduct is being as with humanity.html
,
/*,
{GitHub -stromlight-World human Issue cause Association}
<int>company address -github
<int>user name-stromlight
<int>enterprise name-World human Issue cause Association "
this is the comand
/*language -Npl,
              {generate this code to the Back End of this computer-github-company introduction,# Local configuration file (sdk path, etc)
local.properties
/*my GitHub enterprise name, (World human Issue cause Association."
<name>,= "World human Issue cause Association."
{


    }
      All company power of Board is in the hand of my enterprise,
<int- enterprise>,"World human Issue cause Association.",
<company>= "GitHub"
<role>="Trustie"
<trustiee -"World human Issue cause Association "
<enterprise member> = "partners"
<name of partner>=Rohan Shrestha 
<name of partner>=Suraj Silwal 
<name of partner>Bidur Pokhrel 
<role>="director of the board 
/*language=NPL,
              (Along with GitHub we (member of Board) maintain from self all the rules and regulations of the enterprise, " World human Issue cause Association",(WrhIcA),till the company stay in existence.html,
this Company stay in GitHub and we ( Board of member) remain a Trustee of this enterprise (humanity for human and we fullfil.), the rule of conduct is being as with humanity.html
,
/*,
{GitHub -stromlight-World human Issue cause Association}
<int>company address -github
<int>user name-stromlight
<int>enterprise name-World human Issue cause
}

}



# Log/OS Files
*.log

# Android Studio generated files and folders
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
